/Linux-version
/Mosquitto
/MPV
/scripts/Archiv
/Documentation
/config-rx.ini
/DATV-TX-LIGHT.bat
/ffmpeg2pass-0.log
/SET-FAVORITE-LIGHT.bat
/SETUP.bat
/START-FFPLAY.bat
/START-MPV-STREAM1.bat
/START-MPV-STREAM2.bat
/START-MPV-STREAM3.bat
/version.txt
/scripts/CONTROL-LIGHT.bat
/scripts/ROUTING.bat
/scripts/START-FFPLAY-LONGMYND.bat
/scripts/START-MPV-LONGMYND.bat
/on1rc@66KS.png
/config-tx.ini
/digitalgain
/frequency
/gain
/mycall
/nco
/tssourceaddress
