/custom
/DecodeH266
/config-tx.ini
/settings
/ffmpeg/out.mp4
/channels.json
/shared
/ffmpeg
/minitiouner
user
/.node-red/*.backup
/.node-red/.config.*
/.node-red/lib
/.node-red/flows_cred.json
.idea
/addons
devices.ini
/obs_overlays/SDO/*.mp4
/obs_overlays/SDO/*.gif