

:root {
  --textColor: #ffffff;
  --backGroundColor: #000000;
  --fontSize: 36px;
  
}
body {
  width:  99%;
  height: 100%;
  margin: 0px;
  
  }
  
  #c {
    background-color: black;
  }
  #under-canvas {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    width: 100%;
    color: #010101;
    font-weight: bold;
    font-family: 'Candara';
    margin-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    
  }
 